.todo-item-container {
    border-bottom: 1px solid #dadada;
    padding: 10px 0px;
    text-align: left;
}

.todo-item-container p {
    margin: 4px;
}

.first-row-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

input[type='checkbox'] {
    height: 16px;
    width: 16px;
    margin-right: 10px;
}

.inline-button-container {
    margin-left: auto;
}

.inline-button-container button {
    margin-left: 4px;
}