@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.App {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px; /* Adjust the height of the outer div as needed */
  background-color: lightgray; /* Optional: Background color for the outer div */
}

.main-container {
  background-color: white;
  width: 40%;
  height: 100vh;
}

.inner-container {
  margin: 50px;
  text-align: center;
}
